<!DOCTYPE html>
<html lang="en">
<head>
<title>RASaR Lab Website</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-cobalt w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <img src="https://drsgbhat.github.io/images/sandesh.jpg" style="width:100%" alt="RASaR Lab Logo">
    <h3 class="w3-padding-64"><b>Robotics for<br>Assistive<br>Systems and<br>Rehabilitation</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Top of the Page</a> 
    <a href="#welcome" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Welcome!</a> 
    <a href="#projects" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Projects</a> 
    <a href="#people" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">The People</a>
    <a href="#publications" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Publications</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-cobalt w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-cobalt w3-margin-right" onclick="w3_open()">☰</a>
  <span>RASaR</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="welcome">
    <h1 class="w3-jumbo"><b>RASaR Lab</b></h1>
    <h1 class="w3-xxxlarge w3-text-cobalt"><b>Welcome!</b></h1>
    <hr style="width:50px;border:5px solid blue" class="w3-round">
    <p>Greetings from the Robotics for Assistive Systems and Rehabilitation (RASaR) Lab! We are a research lab within the College of Arts and Sciences at the University of Wisconsin-Eau Claire. 
    <p>The RASaR lab is decicated to undergraduate research in the field of upper extremity robotics for assistance during Activities of Daily Living (ADL) and rehabilitation post surgery/injury.
    </p>
  </div>


  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- Projects -->
  <div class="w3-container" id="projects" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-cobalt"><b>Projects</b></h1>
    <hr style="width:50px;border:5px solid blue" class="w3-round">
    <p>We are a interior design service that focus on what's best for your home and what's best for you!
    </p>
  </div>
  
  <!-- The People -->
  <div class="w3-container" id="people" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-cobalt"><b>The People</b></h1>
    <hr style="width:50px;border:5px solid blue" class="w3-round">
  </div>

<!-- The Team -->
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-amber">
        <img src="https://drsgbhat.github.io/images/sandesh.jpg" alt="Dr. Bhat" style="width:100%">
        <div class="w3-container">
          <h3>Sandesh G. Bhat, Ph.D.</h3>
          <p class="w3-opacity">Principal Investigator</p>
          <p>Dr. Bhat got a Ph.D. from Arizona State University in Systems Engineering and performed his post-doctoral research at Mayo Clinic in the Motion Analysis Laboratory.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-amber">
        <img src="https://drsgbhat.github.io/images/profile.png" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>Interested in Biomechanics and Robotics?</h3>
          <p class="w3-opacity">Undergraduate Researcher</p>
          <p>This can be you! Please contact Dr. Bhat.</p>
        </div>
      </div>
    </div>
  </div>

<!-- Publications -->
  <div class="w3-container" id="publications" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-cobalt"><b>Select Publications</b></h1>
    <hr style="width:50px;border:5px solid blue" class="w3-round">
    
  </div>

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-amber w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Inspired by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
